
<div class="hero_area inner_page">

  <app-nav-bar></app-nav-bar>
</div>


<div  class="container inner_page">
  <div class="row">
    @for(pack of items; track pack) {
    <div class="col-12 col-md-4 mt-4">
      <div class="card">
        <img [src]="environment.apiBaseUrl + pack.imagePath + '/' + pack.imageName " alt="Card Image">
        <div class="card-content">
          <h1 class="card-title">{{pack.name}} </h1>
          <p class="card-text">{{pack.description}}</p>
          <a  [routerLink]="['/package-detail/' , pack.id]" class="btn btn-primary"><button type="button" class="btn btn-light">VIEW PACKAGE DETAILS</button></a>
        </div>
      </div>
    </div>
  }
  </div>
</div>



