
<div class="hero_area">
  <app-nav-bar></app-nav-bar>
  <div class="slider_section">
    <div class="container ">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="detail-box">
            <h1>
              See everything, go everywhere
            </h1>
            <p>
              Search a city to explore.
            </p>
          </div>
          <div class="find_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <app-filter></app-filter>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider_container">
      <app-top-guides></app-top-guides>
    </div>
  </div>
</div>
<app-top-packages></app-top-packages>


<!--<div >
  <app-app-section> </app-app-section>
</div>-->

