<div class="footer_container">
  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="contact_box">
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </a>
        <a href="/contact">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
        <a href="/contact">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
      <div class="container">
      <div class="info_links row justify-content-center">
        <ul class="list-inline">
          <li class="active list-inline-item">
            <a href="index.html">
              Home
            </a>
          </li>
          <li class="active list-inline-item">
            <a href="about.html">
              About
            </a>
          </li>
          <li class="active list-inline-item">
            <a class="" href="blog.html">
              Blog
            </a>
          </li>
          <li class="active list-inline-item">
            <a class="" href="testimonial.html">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        © <span id="displayYear">2024</span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a><br>
        Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

</div>
